mixin print-inventory(map)
  if map.useInventory
    input#inventory-open(type="checkbox")
    .inventory
      label.inventory__toggle(for="inventory-open")
      .inventory__container
        .inventory__contents
