mixin print-window-relative-props(map)
  if map.windowProps
    each prop in map.windowProps
      - let propName = prop.name || prop;
      .prop.sprite(class=`${nameSprite(propName)} ${nameProp(propName)}`)
