include includes/settings/map

include includes/tools/trim
include includes/tools/name-prop
include includes/tools/name-value-getter
include includes/tools/name-item-getter
include includes/tools/name-sprite
include includes/tools/add-map-details
include includes/tools/print-id

include includes/components/map-values
include includes/components/map-positions
include includes/components/map-directions
include includes/components/map-blocks
include includes/components/map-world-props
include includes/components/map-window-props
include includes/components/map-inventory
include includes/components/map-items
include includes/components/full-screen-toggle

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title #{map.title || 'CSS Game Engine'}
    link(rel="stylesheet", href="./styles/entry.css")

  body
    +full-screen-toggle(map)

    .game
      +print-map-values(map)
      +print-map-items(map)
      +print-map-positions(map)
      +print-map-directions(map)
      .world
        +print-map-blocks(map)
        +print-world-relative-props(map)
      +print-inventory(map)
      +print-window-relative-props(map)
