include ../settings/talking-box-dialogue

-
  const map = {
    width: 3,
    height: 2,
    fullScreen: true,
    title: 'Digging deeper',
    useInventory: true,
    windowProps: [
      'character',
      'overlay',
    ],
    areas: [
      {
        name: 'entrance',
        initial: true,
        values: [
          {
            name: 'key-1',
            type: 'key',
          },
          'trap-door',
        ],
        props: [
          'green-lock',
          'blue-lock',
          'red-lock',
        ],
      },
      {
        name: 'first-key',
        values: [
          {
            name: 'key-2',
            type: 'key',
          },
        ],
      },
      {
        name: 'first-ladder',
        items: [
          {
            name: 'wooden-shoes',
            type: 'footwear',
            collected: true,
            active: true,
            order: 0,
          },
        ],
      },
      {
        name: 'exit',
        conversations: [
          talkingBoxDialogue,
        ],
      },
      null,
      {
        name: 'last-key',
        values: [
          {
            name: 'key-3',
            type: 'key',
          },
        ],
        items: [
          {
            name: 'golden-shoes',
            type: 'footwear',
            order: 1,
          }
        ],
      },
    ],
  };
