@import "../tools/svg-data-url";

$block-width: 400px;
$block-height: 300px;

$direction-width: 0.5em;
$direction-height: 0.5em;
$direction-gap-x: 0.1em;
$direction-gap-y: 0.1em;
$direction-offset-x: 2.25em;
$direction-offset-y: 0.05em;
$direction-alignment-x: left;
$direction-alignment-y: top;

$default-block-transition-duration: 1s;
//$default-block-transition-function: cubic-bezier(.2,0,.7,1);

$game-class: game;
$position-class: position;
$direction-class: direction;
$world-class: world;
$block-class: map-block;

$show-outside-blocks: false;

$required-key-count: 3;
$world: (
  (
    (
      name: '1-1',
      accessible: true,
    ),

    (
      name: '2-1',
      accessible: true,
    ),

    (
      name: '3-1',
      accessible: true,
    ),
  ),

  (
    (
      name: '1-2',
      accessible: true,
      // Order is important
      // requires: (
      //   key-1,
      //   key-2,
      //   key-3,
      // ),
      requires: trap-door,
    ),

    (
      accessible: false,
    ),

    (
      name: '3-2',
      accessible: true,
    ),
  ),
);
