$svg-5x8-up-chevron:    "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><polygon fill='FILLCOLOR' points='0 5 4 0 8 5 0 5'/></svg>";
$svg-5x8-down-chevron:  "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'><polygon fill='FILLCOLOR' points='8 0 4 5 0 0 8 0'/></svg>";
$svg-8x5-right-chevron: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 8'><polygon fill='FILLCOLOR' points='0 0 5 4 0 8 0 0'/></svg>";
$svg-8x5-left-chevron:  "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 8'><polygon fill='FILLCOLOR' points='5 8 0 4 5 0 5 8'/></svg>";
