@import "../variables/game-settings";
@import "../tools/game-engine";

@keyframes character-bob--a {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: scaleY(1);
  }

  10%,
  50%,
  90% {
    transform: scaleY(0.9) skewX(5deg);
  }

  30%,
  70% {
    transform: scaleY(0.9) skewX(-5deg);
  }
}

@keyframes character-bob--b {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: scaleY(1);
  }

  10%,
  50%,
  90% {
    transform: scaleY(0.9) skewX(-5deg);
  }

  30%,
  70% {
    transform: scaleY(0.9) skewX(5deg);
  }
}

@include prop(character, $w:40, $h:66, $x:145, $y:165) {
  background-image: url('../i/character.png');
  transform-origin: 50% 0.64em;

  @include if-in-block-alt(a, $fixed: true) {
    animation: character-bob--a $default-block-transition-duration ease-in-out;
  }

  @include if-in-block-alt(b, $fixed: true) {
    animation: character-bob--b $default-block-transition-duration ease-in-out;
  }
}
