@import "../variables/game-settings";

%direction {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.direction {
  @extend %direction;
  line-height: $direction-height;
  text-align: center;
  border-radius: 10em;
  background: #675542;
  color: #937d45;
  text-shadow: 0 2em #4d3c31;
  box-shadow: 0 1em 0 2em #4d3c31;

  &::before {
    font-size: 20em;
  }
}
