@import "../tools/svg-data-url";
@import "../tools/str-replace";
@import "../variables/game-settings";
@import "../variables/svgs";

#inventory-open {
  display: none;
}

.inventory {
  $contents-width: 1.2em;

  position: absolute;
  left: 100%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(0);
  transition: transform .2s ease-in-out;

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: .15em;
    height: .30em;
    background: #675542;
    box-shadow: 0 .01em 0 .02em #4d3c31;
    border-radius: .04em 0 0 .04em;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent 50% 50% no-repeat;
      background-image: url(svg-data-url(fill($svg-8x5-left-chevron, #937d45)));
      background-size: 0.10em 0.16em;
    }
  }

  &__container {
    position: relative;
    background: #675542;
    padding: .04em;
    padding-right: 0;
    border-radius: .04em 0 0 .04em;
  }

  &__contents {
    $item-count: 3;
    $item-gap: .05em;
    $item-width: ($contents-width - ($item-gap * ($item-count + 1))) / $item-count;

    display: grid;
    grid-template-columns: repeat(auto-fill, $item-width);
    grid-auto-rows: $item-width;
    grid-gap: $item-gap;
    background: #4d3c31;
    width: $contents-width;
    height: 1.70em;
    padding: $item-gap;
  }

  :checked + & {
    transform: translateY(-50%) translateX(-100%);
  }

  :checked + & & {
    &__container {
      box-shadow: 0 .01em 0 .02em #4d3c31;
    }

    &__toggle::after {
      transform: rotate(180deg);
    }
  }
}
