#inventory-open {
  display: none;
}

.inventory {
  position: absolute;
  left: 100%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(0);
  transition: transform 0.2s ease-in-out;

  &__toggle {
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 15em;
    height: 30em;
    line-height: 30em;
    text-align: center;
    color: #937d45;
    text-shadow: 0 2em #4d3c31;
    background: #675542;
    box-shadow: 0 1em 0 2em #4d3c31;
    border-radius: 4em 0 0 4em;

    &::after {
      content: "\f053"; // fa-chevron-left
      display: block;
      font-family: FontAwesome;
      font-size: 15em;
    }
  }

  &__container {
    position: relative;
    background: #675542;
    padding: 4em;
    padding-right: 0;
    border-radius: 4em 0 0 4em;
  }

  &__contents {
    background: #4d3c31;
    width: 120em;
    height: 170em;
  }

  :checked + & {
    transform: translateY(-50%) translateX(-100%);
  }

  :checked + & & {
    &__container {
      box-shadow: 0 1em 0 2em #4d3c31;
    }

    &__toggle::after {
      content: "\f054"; // fa-chevron-right
    }
  }
}
