@import '../tools/game-engine';

.map-block {
  background-size: cover;
  perspective: 1000px;
}

@include map-block(unquote('entrance')) {
  background-image: url('../i/ladder-down-room.jpg');
}
@include map-block(unquote('first-key')) {
  background-image: url('../i/empty-room.jpg');
}
@include map-block(unquote('first-ladder')) {
  background-image: url('../i/ladder-down-room.jpg');
}

@include map-block(unquote('exit')) {
  background-image: url('../i/ladder-up-room.jpg');
}
@include map-block(unquote('last-key')) {
  background-image: url('../i/key-room.jpg');
}


