@import "../variables/game-settings";
@import "../tools/game-engine";

@include prop(green-lock, $w:32, $h:34, $x:237, $y:249, $z:1) {
  background-image: url('../i/green-lock.png');
  pointer-events: none;

  @include if-got('key-1') {
    transform: translateY(-40em);
    opacity: 0;
  }
}

@include prop(blue-lock, $w:28, $x:209, $h:27, $y:226, $z:1) {
  background-image: url('../i/blue-lock.png');
  pointer-events: none;

  @include if-got('key-2') {
    transform: translateY(-40em);
    opacity: 0;
  }
}

@include prop(red-lock, $w:26, $h:30, $x:114, $y:230, $z:1) {
  background-image: url('../i/red-lock.png');
  pointer-events: none;

  @include if-got('key-3') {
    transform: translateY(-40em);
    opacity: 0;
  }
}

.value-getter {
  &--name-trap-door {
    @include align(161, 84.5, 105, 242);
    background-image: url('../i/trap-door.png');
    transition-delay: 0;
    pointer-events: none;
    transform-origin: 50% 60em;
    transition:
      transform $default-block-transition-duration cubic-bezier(.4,.0,.6,-0.6),
      opacity 0s $default-block-transition-duration;
  }

  @include if-got-type(key, 3) {
    &--name-trap-door {
      pointer-events: auto;
    }
  }

  @include if-got(trap-door) {
    &--name-trap-door {
      transform: rotateX(113deg);
      opacity: 0;
    }
  }
}
