a {
  &,
  &:hover,
  &:active {
    color: inherit;
  }
}

textarea,
input,
button,
select {
  outline: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

textarea,
input,
button {
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
}
